[submodule "timeline-font"]
	path = timeline-font
	url = https://github.com/my-Sakura/time-line-font.git
[submodule "timeline-backend"]
	path = timeline-backend
	url = https://github.com/my-Sakura/time-line-backend.git
